<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Cuaca</servlet-name>
		<servlet-class>id.zelory.tanipedia.api.CuacaAPI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cuaca</servlet-name>
		<url-pattern>/cuaca</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Berita</servlet-name>
		<servlet-class>id.zelory.tanipedia.api.BeritaAPI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Berita</servlet-name>
		<url-pattern>/berita</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Komoditas</servlet-name>
		<servlet-class>id.zelory.tanipedia.api.KomoditasAPI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Komoditas</servlet-name>
		<url-pattern>/komoditas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BeritaCron</servlet-name>
		<servlet-class>id.zelory.tanipedia.cron.BeritaCron</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BeritaCron</servlet-name>
		<url-pattern>/berita-cron</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BeritaFullCron</servlet-name>
		<servlet-class>id.zelory.tanipedia.cron.BeritaFullCron</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BeritaFullCron</servlet-name>
		<url-pattern>/berita-full-cron</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>id.zelory.tanipedia.api.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>id.zelory.tanipedia.api.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AmbilSoal</servlet-name>
		<servlet-class>id.zelory.tanipedia.api.TanyaTaniAPI$AmbilSoal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AmbilSoal</servlet-name>
		<url-pattern>/tanya/ambil-soal</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>KirimSoal</servlet-name>
		<servlet-class>id.zelory.tanipedia.api.TanyaTaniAPI$KirimSoal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KirimSoal</servlet-name>
		<url-pattern>/tanya/kirim-soal</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AmbilJawaban</servlet-name>
		<servlet-class>id.zelory.tanipedia.api.TanyaTaniAPI$AmbilJawaban</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AmbilJawaban</servlet-name>
		<url-pattern>/tanya/ambil-jawaban</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>KirimJawaban</servlet-name>
		<servlet-class>id.zelory.tanipedia.api.TanyaTaniAPI$KirimJawaban</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KirimJawaban</servlet-name>
		<url-pattern>/tanya/kirim-jawaban</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
